# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env
.env.*
!.env.example

# Debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage/
.nyc_output/

# IDE & OS
.idea/
.vscode/
.DS_Store
.cursor/
*.log

# Vercel
.vercel

# Misc
*.pem
.turbo
*.tsbuildinfo
